@font-face
{
font-family:Braven;

src:url("fuentes/BravenRegular.otf");
}







body
{
margin:0;
}

header
{
width:100%;
height:auto;	
background-color:#898989;
display:flex;
margin:auto;
align-items: center;
justify-content: space-evenly;
font-family:Braven;
}

.logo
{
width:20%;
height:auto;	

}
nav
{
width:65%;
height:auto;	

display:flex;
align-items: center;
justify-content: space-evenly;
border-radius:10px;
}

a:link, a:visited
{
display:flex;
width:20%;
height:40px;
border-radius:10px;	
align-items: center;
justify-content: space-evenly;
text-decoration:none;
font-weight:bold;
color:black;
transition:all 0.7s;
}

a:hover
{
color:gray;
background-color:black;
font-size:20px;
}

main
{
width:100%;
height:auto;	
background-color:black;
display:flex;
margin:auto;
align-items: center;
justify-content: space-evenly;
padding:1%;

}


.texto
{
width:56%;
height:auto;	
background-color:gray;
padding:2%;
font-family:Braven;


}

.foto
{
width:30%;
height:auto;	
box-shadow: 18px 8px 10px gray;
background-color:gray;
border-radius:10px;
}

.foto2
{
width:100%;
height:auto;
border-radius:10px;	
}

footer
{
width:100%;
height:auto;	
background-color:black ;
display:flex;
margin:auto;
align-items: center;
justify-content: space-evenly;	
font-family:Braven;
}

.logo2
{
width:10%;
height:auto;	

}

.contacto
{
width:55%;
height:auto;	
display:flex;
font-weight:bold;

}

.social
{
width:30%;
height:auto;	
display:flex;
}

.textofooter
{
display:flex;
width:55%;
height:auto;
font-weight:bold;
color:gray;
font-family:Braven;

	
}

.fotos
{
padding:1%;	
}

.precio:link
{
display:flex;
width:92%;
height:40px;
border-radius:10px;	
align-items: center;
justify-content: space-evenly;
text-decoration:none;
font-weight:bold;
color:black;
transition:all 0.7s;

}

.precio:hover
{

color:gray;
background-color:black;
font-size:20px;
}


h1
{
font-family:Braven;	
}

@media  screen and (max-width:800px) /*si la pgina se carga en una pantalla de hasta 800 px de ancho */
{
	main
	{
			flex-direction:column;
			align-items:center;
	}
	
	.texto
	{
		width:80%;
	}
	
	.foto
	{
			width:50%;
	}
	
	header{
             flex-direction:column;
             align-items:center;			 
	}
	
	.logo{
       width:40%;	
	}
	
	nav
	{
			flex-direction:column;
			align-items:center;
	}
	
	nav a:link
	{
		width:80%;
		height:auto;
		padding:1%;
	}
	
	footer{
		flex-direction:column;
		align-items:center;
	}
	
	.logo2{
		width:35%;
		margin-left:32%;
		
	
	}
	
	.contacto{
		width:90%;
	}
	
	.social{
		width:80%;
		justify-content:center;
	}
}